<% include ./partials/header %>
<div class="ui center fluid container"></div>
    <h1>Search for a movie!</h1>
    <form action="/results" method="GET">
        <input type="text" placeholder="Search term" name="search">
        <input type="submit">
    
    </form>

    <h2>Saved movies</h2>




    <div class="ui items">
    <% movies.forEach(function(movie) { %>
        <div class="item">
            <div class="ui small image">
                <img src="<%= movie.poster%>">
            </div>
            <div class="middle aligned content">
                <div class="header">
                    <h2> <%= movie.name%></h2>
                </div>
                <div class="meta">
                    <span><%= movie.releaseYear%></span><span><%= movie.director %></span><span>                    <p><%= movie.actors %></p></span>
                </div>
                <div class="description">
                    <p><%= movie.plot %></p>
                </div>
                <div class="extra">
                    <span><%= movie.runtime%></span>
                    <span><%= movie.genre%></span>
                    <span>IMDB: <%= movie.imdbRating%></span>
                    <span>Rotten Tomatoes: <%= movie.rottenRating%></span>
                </div>
                <% if (movie.personalReview=== null) { %> 
                        <a href="/movies/<%=movie._id%>/edit">Review Movie</a>
                    
                <% } else { %>
                    <div class="extra">
                        <h4>My review:</h4>
                        <p><%= movie.personalReview %></p>
                    </div>
                <% } %>
            </div>
        </div>
    <% }); %>
    </div>



</div>



<% include ./partials/footer %>